html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

main {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  border-radius: 8em;
  background: black;
  height: 33em; }
  main::after {
    clear: both;
    content: "";
    display: table; }

#screen {
  color: white;
  text-align: center; }
  #screen .loading {
    position: relative;
    font-size: 2em;
    top: 8em; }
  #screen #menu {
    display: none; }
  #screen #play {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    font-size: 2em;
    font-weight: bolder;
    color: white; }
    #screen #play:last-child {
      margin-right: 0; }
  #screen #score {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    font-size: 2em;
    font-weight: bolder;
    color: white; }
    #screen #score:last-child {
      margin-right: 0; }
  #screen #settings {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    font-size: 2em;
    font-weight: bolder;
    color: white; }
    #screen #settings:last-child {
      margin-right: 0; }

#menu a {
  text-decoration: none; }

.settingArea a {
  text-decoration: none;
  color: white; }
